* {
  box-sizing: border-box;
}

body {
  margin: 3rem 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(133, 126, 126);
}

body,
a,
input,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}

.layout {
  max-width: 80rem;
  margin: auto;
  padding: 0 2rem;
}

.button,
.input {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(228, 228, 228);
  height: 3rem;
}

.button {
  background-color: white;
  color: rgb(133, 126, 126);
  font-weight: 600;
  cursor: pointer;
}

.container-text {
  margin-top: 2rem;
  height: 3rem;
}

@media (max-width: 500px) {
  .layout {
    padding: 0 0.5rem;
  }
}
